body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    position: relative;
}

#game {
    text-align: center;
}

#user-input {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
}

#submit-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
    color: red;
}

#timer-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid green;
    border-radius: 50%;
    font-size: 1.5em;
}

#timer-container.red {
    border-color: red;
}

#timer {
    color: black;
}
